.AbtMeContainer{
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    background-color: rgb(255, 255, 255);
    margin-top: 25vmin;
    font-size: 22px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.TitleContainer{
  line-height: 10vmin;
}

.TitleText{
    font-size: 13vmin;
}

.DescriptionContainer{
    margin-top:10vmin;
    margin-left: 5%;
    margin-right: 5%;
    border: solid black 3px;
}

.DescriptionText{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 5vmin;
}

@media (max-width: 1200px){
    .TitleText{
      font-size: 12vmin;
    }
  }

  @media (max-width: 600px){
    .TitleText{
      font-size: 10vmin;
    }
  }