  .container{
    display: flex;
    align-items: center;
    max-height: 2em;
  }
  
  .text {
    font-weight: bold;
    color: #000000;
    font-family: 'Dirt';
    font-weight:bolder;
    font-size: 7vmin;
  }

  .cursor {
    color: #000000;
    font-weight: bold;
    margin-top: -0.5%;
    animation: blink 1s infinite;
    font-size: 7vmin;
  }

  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 1200px){
    .text{
      font-size: 8vmin;
    }
    .cursor{
      font-size: 8vmin;
    }
  }

  @media (max-width: 600px){
    .text{
      font-size: 7vmin;
    }
    .cursor{
      font-size: 7vmin;
    }
  }

