.App {
  max-width: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position:fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid black;
}

.navBarDiv {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 1s ease;
}

.navBarDiv:hover {
  background-color:#ffffff;
  color: black;
  cursor: pointer;
}

.navText {
  font-size: 3vmin;
}

.blackContainer {
  background-color: black;
  padding-bottom: 10%;
}

@media screen and (min-width: 600px) {
  .navText {
    font-size: 4vmin;
  }
}

@media screen and (min-width: 0px) {
  .navText {
    font-size: 5vmin;
  }
}




