.App {
  max-width: 100%;
}

.App-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  position:fixed;
  top: 0vmin;
  width: 100%;
  z-index: 2;
  background-color: black;
}

.navBarDiv {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  transition: background-color 1s ease;
  border-bottom: solid black 1vmin;
  border-right: solid black 0.5vmin;
  border-left: solid black 0.5vmin;
}

.navBarDiv:hover {
  background-color:#ffffff;
  color: black;
  cursor: pointer;
}

.navText {
  font-size: 3vmin;
}

.blackContainer {
  background-color: black;
  padding-bottom: 10%;
  
}

.body{
  z-index: 1;
}

@media screen and (min-width: 600px) {
  .navText {
    font-size: 4vmin;
  }
}

@media screen and (min-width: 0px) {
  .navText {
    font-size: 5vmin;
  }
}


.navBarDiv.active {
  background-color: #ffffff; /* Color de fondo cuando está activo */
  color:#000000;
}

